header {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    margin-top: 10px;
}

.leftpart {
    display: flex;
    align-items: center;
}

.rightpart {
    display: flex;
    align-items: center;
}
